@font-face {
  font-family: 'Inconsolata'; /* Match this with your Tailwind config */
  src: url('./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype'); /* Ensure path matches */
  font-weight: normal;
  font-style: normal;
}
